
.rekit_dc1e22{height:105px;}
.rekit_2365cd{position:absolute; top:30px; left:0; height:45px; }
.rekit_2365cd img{width:300px; height:45px; position:absolute; top:0; left:0;}
.rekit_2365cd label{position:absolute; top:0; left:315px; font-size:30px; white-space:nowrap; height:45px; line-height:45px; color:#aaa;}
.rekit_9b0454{position:absolute; top:30px; right:0; height:45px; line-height:45px;}
.rekit_9b0454 a{float:left; display:inline-block; font-size:15px; margin-left:40px;}
.rekit_9b0454 a.hover{color:#ff7300;}
.rekit_c727ac{height:330px; border-bottom:3px solid #e8e8e8;}
.rekit_417424, .rekit_509602{position:absolute; top:0; height:300px;}
.rekit_417424{width:700px; left:0; }
.rekit_509602{width:280px; right:0; }
.rekit_509602 input{width:240px;}

.rekit_c3ae88{width:100%; height:100%;}
.rekit_c3ae88 ol{height:100%; margin:0 auto; border:1px solid #e8e8e8; border-top:0; border-bottom:0; position:relative; padding:0 20px;}
.rekit_fdcfc5{margin:0 auto; height:70px; color:#888; overflow:hidden;}
.rekit_fdcfc5 label{height:70px; overflow:hidden; line-height:70px; _line-height:72px; font-size:20px; float:left;}
.rekit_fdcfc5 a{float:right; height:70px; line-height:72px; color:#888;}
.rekit_fdcfc5 a:hover{color:#ff7300;}
.rekit_4b334e{margin:0 auto; height:50px; color:#888; overflow:hidden;}
.rekit_4b334e label{height:50px; line-height:50px; _line-height:52px; font-size:15px; background-color:#fff; padding-right:12px;}
.rekit_fbb97b li{padding-bottom:15px; width:100%; float:left; position:relative;}
.rekit_e3396e li{margin:0 auto; float:left; height:30px; line-height:30px; position:relative; width:100%;}
.rekit_e3396e a.hover, .rekit_e3396e a.hover:hover{color:#ff7300;}
.rekit_0cfc04{}
.rekit_0cfc04 a{margin-top:10px; margin-right:10px; display:inline-block; background-color:#f2f2f2; color:#888; height:30px; line-height:30px; overflow:hidden; _line-height:32px; padding:0 8px; font-size:13px;}
.rekit_0cfc04 a:hover{color:#fff; background-color:#ee6d17;}
.rekit_761236{margin:0 auto; border:1px solid #e8e8e8; height:34px; position:relative;}
.rekit_761236 b{width:15px; height:20px; position:absolute; top:7px; left:10px; background-image:url(../images/d85663.gif); background-repeat:no-repeat;}
.rekit_761236 input{height:32px; margin-left:36px; float:left; padding:8px 0; _padding:9px 0; font-size:14px; position:absolute; top:0px; right:0; color:#666;}

.rekit_761237{margin:0 auto; border:1px solid #e8e8e8; height:34px; position:relative;}
.rekit_761237 b{width:15px; height:20px; position:absolute; top:7px; left:10px; background-image:url(../images/icon_11.png); background-repeat:no-repeat;}
.rekit_761237 input{height:32px; margin-left:36px; float:left; padding:8px 0; _padding:9px 0; font-size:14px; position:absolute; top:0px; right:0; color:#666;}


.rekit_fbb97b button{height:36px; width:100%; background-color:#ee6d17; color:#fff; cursor:pointer;}
.rekit_4468f8{background-position:center top;}
.rekit_b20b0f{background-position:center bottom;}
.rekit_d492d2{margin:0 auto;}
.rekit_d492d2 li{width:100%; float:left; height:24px; line-height:24px; font-size:12px; color:#888;}
.rekit_d492d2 a{color:#ff7300;} .rekit_d492d2 a:hover{text-decoration:underline;}
.rekit_3961c3{}
.rekit_0784cd{float:left; width:600px;}
.rekit_fe4201{float:right; width:380px;}
.rekit_168a3a{min-height:240px;}
.rekit_8dc54f{height:40px; position:relative; overflow:hidden; width:100%;}
.rekit_8dc54f label{font-size:20px; padding-right:15px; color:#888;}
.rekit_8dc54f p{position:absolute; top:0; right:0; float:right; line-height:30px;}
.rekit_8dc54f a{color:#aaa;float: right;} .rekit_8dc54f a:hover{color:#ff7300; text-decoration:underline; _text-decoration:none;}

.rekit_eef2f9{height:50px; position:relative; overflow:hidden; width:100%; line-height:60px;}
.rekit_eef2f9 label{font-size:16px; color:#888;}
.rekit_eef2f9 a{position:absolute; top:0; right:0; font-size:12px; color:#aaa;}
.rekit_eef2f9 a:hover{color:#ff7300; text-decoration:underline; _text-decoration:none;}

.rekit_b7ce55{width:100%; float:left;}
.rekit_b7ce55 li{width:100%; height:40px; float:left; line-height:40px; _line-height:42px; overflow:hidden;}
.rekit_b7ce55 li.hover{background-color:#f9f5ee;}
.rekit_b7ce55 p{float:right; font-size:12px; padding-right:10px;}
.rekit_b7ce55 p b{font-weight:normal; color:#aaa; font-family:'tahoma';}
.rekit_b7ce55 a{padding-right:10px; padding-left:20px; background:url(../images/0254f3.gif) 9px 19px no-repeat; display:block;}
.rekit_b7ce55 a:hover{background-color:#fafafa; color:#333;}

.rekit_c95c95{width:100%; float:left;}
.rekit_c95c95 li{width:100%; height:40px; float:left; line-height:40px; _line-height:42px; overflow:hidden;}
.rekit_c95c95 li.hover{background-color:#f9f5ee;}
.rekit_c95c95 p{float:right; font-size:12px; padding-right:10px;}
.rekit_c95c95 p b{font-weight:normal; color:#aaa; font-family:'tahoma';}
.rekit_c95c95 a{padding-right:10px; padding-left:20px; background:url(../images/0254f3.gif) 9px 19px no-repeat; display:block;}


.rekit_470b42{height:100px; position:relative;}
.rekit_86e5c5{width:100%; color:#888; font-size:12px; position:absolute; top:25px; left:0; height:60px;}
.rekit_86e5c5 li{width:100%; height:30px; line-height:30px; float:left; overflow:hidden;}
.rekit_86e5c5 span{padding-right:12px;}
.rekit_e8ddfa{position:absolute; top:10px; right:0;}

/* bread */
.rekit_d8f185{height:65px; line-height:70px; color:#888; font-size:14px; overflow:hidden; _line-height:72px;}
.rekit_d8f185 a, .rekit_d8f185 span{padding:0 6px;}
/* tabber */
.rekit_e618fa{height:36px; overflow:hidden; position:relative;}
.rekit_4e7872{height:36px; position:absolute; top:0; left:0; line-height:36px; overflow:hidden; font-size:15px;}
.rekit_4e7872 a{background-color:#ee6d17; color:#fff; display:block; float:left; padding:0 20px;}
.rekit_daeeef{position:absolute; top:0; right:20px; font-size:12px; line-height:36px;}
/* detail */
.rekit_8eb8fc{}
.rekit_2bca6c{border:1px solid #e8e8e8; border-top:0; border-bottom:0; padding:0 30px; position:relative;}
.rekit_459656{height:80px; line-height:100px; font-size:24px; width:100%; margin:0 auto; position:relative; overflow:hidden;}
.rekit_459656 label{width:100%; margin:0 auto; text-align:center; float:left;}
.rekit_c203d7{height:50px; line-height:50px; font-size:12px; width:100%; margin:0 auto; text-align:center;}
.rekit_c203d7 span{margin:0 10px;}
.rekit_50aa1f{margin:0 auto; width:100%; line-height:30px;}
.rekit_b231de{margin:0 auto; height:40px; position:relative; border:1px solid #e8e8e8;}
.rekit_6933be{position:absolute; top:0; left:0; height:40px; text-align:center;}
.rekit_6933be a, .rekit_6933be span{height:40px; line-height:40px; font-size:16px; color:#fff; background-color:#ee6d17; display:block; padding:0 20px; float:left;}
.rekit_6933be a:hover{background-color:#c64100;}
.rekit_6933be span{color:#666; background-color:#e8e8e8;}
/*  */
.rekit_918296{position:absolute; top:0; right:0; line-height:40px;}
.rekit_918296 a{padding:0 15px;}
/* apply */
.rekit_88853b{display:none; width:380px;}
.rekit_88853b ol{margin:0 15px;}
.rekit_88853b ul{width:100%; padding-bottom:10px; position:relative;}
.rekit_88853b span{float:left;}
.rekit_88853b button{float:right; height:30px; background-color:#ee6d17; color:#fff; font-size:15px; width:100px;}
/* slides */
.rekit_79bd0b{width:100%; height:100%; float:left; position:relative;}
.rekit_c7b371, .rekit_c7b371 div.slide, .rekit_c7b371 img{width:700px; height:300px; overflow:hidden; position:relative; display:none;}
.rekit_c7b371 div.slide, .rekit_c7b371 img, .pagination li a{display:block;}
#slides .prev, #slides .next, .pagination li{margin-right:5px;}
.pagination{margin:6px 0 0; list-style:none; z-index:9999; position:absolute; bottom:15px; right:15px; }
#slides .prev, #slides .next, .pagination li, .pagination li a{float:left;}
.pagination li a{display:block; width:28px; height:0; padding-top:10px; background:#828183; overflow:hidden; opacity:0.8;}
.pagination li.current a, .pagination li.current a:hover{background-color:#ee6d17;}
#slides a:link, #slides a:visited{color:#333; } #slides a:hover, #slides a:active{color:#9e2020; }

/*  */
.rekit_bd73f1{height:300px;}
.rekit_a74476{margin:0 auto; height:45px; position:relative; line-height:45px;}
.rekit_34e715{position:absolute; top:0; left:0; height:45px; font-size:24px; border-left:1px solid #e8e8e8;}
.rekit_34e715 li{float:left; border-right:1px solid #e8e8e8;}
.rekit_34e715 li.hover{background-color:#fff;}
.rekit_34e715 span{padding:0 30px;}
/* detail */
.rekit_e050bb{}
.rekit_e050bb table{width:100%; border-collapse:collapse; background:#ffffff; margin:0 auto; font-size:12px; text-align:center; line-height:1.5em;}
.rekit_e050bb table td{white-space:normal; word-break:break-all; background-color:#fff; padding-bottom:0.5em; border:1px solid #e8e8e8; padding:10px 0; text-align:center;}
.rekit_e050bb table tr{background:#ffffff}
.rekit_2b2a63{line-height:30px;}
.rekit_2b2a63 label{margin:0 auto; text-align:center;}
.rekit_2b2a63 p{margin:0 auto; padding:10px 0;}
.rekit_2b2a63 ul{float:right;}
.rekit_2b2a63 li{float:left; margin-right:20px;}

.rekit_e7b107{text-align:center;}
.rekit_e7b107 a, .rekit_e7b107 span{margin:0 10px; height:40px; line-height:40px; padding:0 20px; font-size:14px;}