<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head th:replace="layout/commoncss::common_head(~{::title},~{})">
    <meta charset="UTF-8">
    <title>招聘</title>

</head>
<body>

<div>
    <script th:src="@{/js/jquery-1.8.0.min.js}" ></script>
    <script th:src="@{/js/slides.jquery.js}"></script>
    <script th:src="@{/js/contextpath.js}"></script>
    <script th:src="@{/js/login.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#userpwd").keydown(function (e) {
                var curkey = e.which;
                if (curkey == 13) {
                    $("#loginbtn").click();
                    return false;
                }
            });

            $(function () {
                $("#count").text("（0）");
                //var url = "Center/Resume.ashx?op=GetNoticeCount";
                //$.post(url, {}, function (data) {
                //   $("#count").text("（" + data + "）");
                //});
            });
        })


    </script>

</div>
<div th:replace="layout/common::topbar"></div>

<div class="rekit_c5bab6">
    <th:block></th:block>
    <div class="rekit_0c8a97">
    </div>
    <div class="rekit_1e8090 rekit_c727ac">
        <div class="rekit_417424">
            <input id="PageContext" type="hidden" value="${pageContext.request.contextPath}"/>
            <div class="rekit_79bd0b slides" id="slides">
                <div class="slides_container rekit_c7b371" th:each="emp:${bannerList}">
                    <div class="slide" >
                        <a rel='nofollow'>
                            <img th:src="${emp.imageurl}" src=""/>
                            <!--<img th:src="@{/images/banner01.jpg}" height='300' width='700'/>-->
                            </a>
                    </div>
                    <!--
                    <div class="slide">
                        <a rel='nofollow'>
                            <img th:src="@{/images/banner02.png}" height='300' width='700'/></a>
                    </div>-->
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#slides").slides({preload: true, preloadImage: '', play: 5000, pause: 2500, hoverPause: true});
            });
        </script>
        <div class="rekit_509602 rekit_280456">
            <div class="rekit_c3ae88 rekit_7f6040 rekit_96a192">

                <div th:replace="layout/common::right"></div>

            </div>


        </div>
    </div>
</div>
<div class="rekit_bf7b23">
</div>
<div class="rekit_1e8090 rekit_3961c3">
    <div class="rekit_0784cd">
        <div class="rekit_8dc54f">
            <label>
                招聘信息</label>
            <p><a th:href="@{/center/recruitlist}">更多</a></p>
        </div>
        <div class="rekit_b7ce55" id="joblist" th:each="emp:${recruitinfos}">
            <li class="">
                <p><b th:text="${emp.begintime}"></b></p>

                <a th:href="@{/center/recruitinfos(id=${emp.id})}" th:text="${emp.title}">
                    dfsdfdsf
                </a>
            </li>
        </div>
    </div>
    <div class="rekit_fe4201">
        <div class="rekit_8dc54f">
            <label>
                通知公告</label>
            <p>
                <a th:href="@{/center/newslist}">更多</a>
            </p>
        </div>
        <div class="rekit_b7ce55">
            <li th:each="emp:${news}">
                <a th:href="@{/center/newsinfo(id=${emp.id})}">
                    <span th:text="${emp.title}">2232323232323</span>
                </a>

            </li>

        </div>
    </div>
</div>
<div class="rekit_bf7b23">
</div>
</div>
<div th:replace="layout/common::bottombar"></div>
</body>
</html>
