<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/commoncss::common_head(~{::title},~{})">
    <meta charset="UTF-8">
    <title>招聘个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>个人中心</title>
</head>

<body>
<div th:replace="layout/commonjs::common_js(~{})">
</div>
<div>
    <style type="text/css">
        .rekit_470b42 {
            height: 100px;
            position: relative;
        }

        .rekit_86e5c5 {
            width: 100%;
            color: #888;
            font-size: 12px;
            position: absolute;
            top: 25px;
            left: 0;
            height: 60px;
        }

        .rekit_86e5c5 li {
            width: 100%;
            height: 30px;
            line-height: 30px;
            float: left;
            overflow: hidden;
        }

        .rekit_e8ddfa {
            position: absolute;
            top: 10px;
            right: 0;
        }
    </style>
    <script type="text/javascript">
        var rooturl='[[${#httpServletRequest.getContextPath()}]]';
        function ChangePassword() {
            location.href = rooturl+'/resume/changepassword';
        }

        function Logout() {
            location.href = rooturl+'/Manage/Logout.aspx';
        }

        $(function () {
            var url = rooturl+"/resume/getcount";
            $.get(url, function (data) {
                $("#NoticeCount").text("（" + data + "）");
            });
        });

        function editResume() {
            $.ajax({
                url: rooturl+"/resume/editresume",
                type: "post",
                data: {},
                async: false,
                dataType: "text",
                success: function (msg) {
                }
            });
            location.href = loginhref;
        }

    </script>
</div>
<div th:replace="layout/common::ptopbar"></div>
<div class="clear"></div>
<div class="personal-center">
    <div class="personal container clearFix">
        <div class="left">
            <div class="prof-name clearFix">
                <div class="name-left">
                    <span class="compe" th:text="${resumes.truename}"></span>
                    <span class="sex" th:text="${resumes.sex}"></span>
                    <span th:text="${resumes.age}"></span>岁
                </div>
                <div class="name-right">
                    <a th:href="@{/resume/editresume}">
                    <img src="/images/person/name-right.png" alt="" width="21" height="20"></a>
                </div>
            </div>
            <p class="prof-experience"><span th:text="${resumes.workage}"></span>年以上工作经验 ｜<span
                    th:text="${resumes.nowaddress}"></span></p>
            <p class="tel">手机：<span th:text="${resumes.phone}"></span></p>
            <p class="mail">邮箱：<span th:text="${userinfo.email}"></span></p>
            <div class="person-btn">
                <span class="person-password" onclick="ChangePassword();">修改密码</span>
                <!-- <span onclick="Logout();">安全退出</span>-->
                <a href="/index/outlogin">安全退出</a>
            </div>
        </div>
        <div class="right">
            <h5>我的简历</h5>
            <div class="touxiang">
                <img th:src="${resumes.photo}"  alt="" width="106" height="106"/>
            </div>
            <div class="apply-inform">
                <span class="apply-title">应聘信息：</span>
                <p class="position">职 &nbsp;&nbsp;&nbsp;&nbsp;位：<span class="computer" th:if="${recruitinfo!=null}"
                                                                      th:text="${recruitinfo.title}"></span><span
                        th:if="${recruitinfo!=null}" th:text="${recruitinfo.departmentname}"></span></p>
                <p class="state">状 &nbsp;&nbsp;&nbsp;&nbsp;态：简历筛选<span class="wait">等待筛选</span></p>
            </div>
            <div class="apply-icon clearFix">
                <ul class="clearFix">
                    <li>
                        <a th:href="@{/resume/preview(resumesid=${resumes.id})}" target="_blank">
                                <span class="icon-tp">
                                    <img src="/images/person/apply-icon02.png" alt="" width="22" height="22">
                                </span>
                            <span class="icon-bt">预览</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/resume/resumemanger(resumesid=${resumes.id})}">
                                <span class="icon-tp">
                                    <img src="/images/person/name-right.png" alt="" width="22" height="22">
                                </span>
                            <span class="icon-bt">修改</span>
                        </a>
                    </li>
                </ul>
                <a th:href="@{/center/noticeinfo(id=${resumes.userid})}" class="ann">HR 通知 <span class="twelve" id="NoticeCount">0</span></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/common::bottombar"></div>
</body>
</html>