<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/commoncss::common_head(~{::title},~{::style})">

    <meta charset="UTF-8">
    <title>岗位列表</title>

    <style type="text/css">
       /*
        .yonghu {
            width: 300px;
        }

        .mima {
            width: 214px;
        }//*/
    </style>
</head>
<body>
<div th:replace="layout/commonjs::common_js(~{::script})">
    <script th:src="@{/js/login.js}"></script>
    <script type="text/javascript">
        var rooturl='[[${#httpServletRequest.getContextPath()}]]';
        function ShengQing() {
            $.ajax({
                url: rooturl+"/resume/applyjob",
                type: "post",
                data: { recruitid: '[[${recruitinfos.id}]]' },
                async: false,
                dataType: "text",
                success: function (msg) {
                    if (msg == "ok") {
                        alert("申请成功！");
                        location.href = rooturl+'/Register/Personcenter?recruitid='+[[${recruitinfos.id}]];
                    }
                    else if (msg == "error") {
                        alert("一人只能申请一个岗位！");
                    }
                    else if (msg == "no") {
                        alert("职位已过期,不能申请！");
                    }
                    else {
                        alert("申请失败！");
                    }
                }
            });
        }
    </script>
</div>
<div th:replace="layout/common::topbar"></div>
<div class="annnounce-container">
    <div class="annnounce container clearFix">
        <div class="annnounce-left">
            <div class="announce-lfh">
                您的当前位置：<a th:href="@{/}">首页 ></a>
                <span>岗位信息</span>
            </div>
            <div class="announce-lfc">

                    <div class="jobs clearFix">
                        <ul class="clearFix">
                            <li>· 岗位：<span th:text="${recruitinfos.title}"></span></li>
                            <li>所属部门：<span th:text="${recruitinfos.departmentname}"></li>
                        </ul>
                        <button id="sq" onclick="ShengQing()" th:if="${showLogin}==1">立即申请</button>
                    </div>
                    <div class="job-description" th:text="${recruitinfos.contents}">

                    </div>
            </div>
        </div>
        <div class="announce-right" style="width: 250px">
            <div th:replace="layout/common::right"></div>
        </div>
    </div>
</div>
<div th:replace="layout/common::bottombar"></div>
</body>
</html>