<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/commoncss::common_head(~{::title},~{})">
    <meta charset="UTF-8">
    <title>招聘信息</title>


</head>
<body>
<div th:replace="layout/commonjs::common_js(~{::script})">
    <script th:src="@{/js/slides.jquery.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</div>
<div th:replace="layout/common::topbar"></div>
<div class="annnounce-container">
    <div class="annnounce container clearFix">
        <div class="annnounce-left">
            <div class="announce-lfh">
                您的当前位置：<a th:href="@{/}">首页 > </a>
                <span>招聘信息</span>
            </div>
            <div class="announce-lfc">
                <div class="announce-lfctit">
                    <h5>招聘信息</h5>
                </div>
                <div class="announce-lfcli">
                    <ul class="clearFix">
                        <!--信息列表-->
                        <ul class="clearFix">

                                <li th:each="emp:${recruitinfos}">
                                    <p><b th:text="${#dates.format(emp.begintime,'yyyy-MM-dd')}"></b></p>

                                    <a th:href="@{/center/recruitinfos(id=${emp.id})}" th:text="${emp.title}"></a>
                                </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="announce-right" style="width: 250px">
            <div th:replace="layout/common::right"></div>
        </div>
    </div>
</div>
<div th:replace="layout/common::bottombar"></div>
</div>
</body>
</html>