<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.web.mapper.recruit.DeliverystatusMapper">
  <resultMap id="BaseResultMap" type="com.recruit.web.pojo.Deliverystatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resumeid" jdbcType="INTEGER" property="resumeid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="recruitinfoid" jdbcType="INTEGER" property="recruitinfoid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="delveryid" jdbcType="INTEGER" property="delveryid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resumeid, status, recruitinfoid, createtime, delveryid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deliverystatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deliverystatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.recruit.web.pojo.Deliverystatus">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into deliverystatus (resumeid, status, recruitinfoid, 
      createtime, delveryid)
    values (#{resumeid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{recruitinfoid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{delveryid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.recruit.web.pojo.Deliverystatus">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into deliverystatus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resumeid != null">
        resumeid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="recruitinfoid != null">
        recruitinfoid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="delveryid != null">
        delveryid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resumeid != null">
        #{resumeid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="recruitinfoid != null">
        #{recruitinfoid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="delveryid != null">
        #{delveryid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruit.web.pojo.Deliverystatus">
    update deliverystatus
    <set>
      <if test="resumeid != null">
        resumeid = #{resumeid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="recruitinfoid != null">
        recruitinfoid = #{recruitinfoid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="delveryid != null">
        delveryid = #{delveryid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruit.web.pojo.Deliverystatus">
    update deliverystatus
    set resumeid = #{resumeid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      recruitinfoid = #{recruitinfoid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      delveryid = #{delveryid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>