<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.web.mapper.recruit.EmailsetMapper">
  <resultMap id="BaseResultMap" type="com.recruit.web.pojo.Emailset">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emailaddress" jdbcType="VARCHAR" property="emailaddress" />
    <result column="emailpwd" jdbcType="VARCHAR" property="emailpwd" />
    <result column="sendservice" jdbcType="VARCHAR" property="sendservice" />
    <result column="contents" jdbcType="VARCHAR" property="contents" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emailaddress, emailpwd, sendservice, contents
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emailset
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emailset
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.recruit.web.pojo.Emailset">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emailset (emailaddress, emailpwd, sendservice, 
      contents)
    values (#{emailaddress,jdbcType=VARCHAR}, #{emailpwd,jdbcType=VARCHAR}, #{sendservice,jdbcType=VARCHAR}, 
      #{contents,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.recruit.web.pojo.Emailset">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into emailset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emailaddress != null">
        emailaddress,
      </if>
      <if test="emailpwd != null">
        emailpwd,
      </if>
      <if test="sendservice != null">
        sendservice,
      </if>
      <if test="contents != null">
        contents,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emailaddress != null">
        #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="emailpwd != null">
        #{emailpwd,jdbcType=VARCHAR},
      </if>
      <if test="sendservice != null">
        #{sendservice,jdbcType=VARCHAR},
      </if>
      <if test="contents != null">
        #{contents,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruit.web.pojo.Emailset">
    update emailset
    <set>
      <if test="emailaddress != null">
        emailaddress = #{emailaddress,jdbcType=VARCHAR},
      </if>
      <if test="emailpwd != null">
        emailpwd = #{emailpwd,jdbcType=VARCHAR},
      </if>
      <if test="sendservice != null">
        sendservice = #{sendservice,jdbcType=VARCHAR},
      </if>
      <if test="contents != null">
        contents = #{contents,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruit.web.pojo.Emailset">
    update emailset
    set emailaddress = #{emailaddress,jdbcType=VARCHAR},
      emailpwd = #{emailpwd,jdbcType=VARCHAR},
      sendservice = #{sendservice,jdbcType=VARCHAR},
      contents = #{contents,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOneEmail"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emailset
    limit 1
  </select>
</mapper>