<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.web.mapper.recruit.FamilyMapper">
  <resultMap id="BaseResultMap" type="com.recruit.web.pojo.Family">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resumesid" jdbcType="INTEGER" property="resumesid" />
    <result column="appellation" jdbcType="VARCHAR" property="appellation" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="politicaloutlook" jdbcType="VARCHAR" property="politicaloutlook" />
    <result column="companyname" jdbcType="VARCHAR" property="companyname" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="createuserid" jdbcType="INTEGER" property="createuserid" />
    <result column="cratetime" jdbcType="TIMESTAMP" property="cratetime" />
    <result column="updateuserid" jdbcType="INTEGER" property="updateuserid" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="isactive" jdbcType="BIT" property="isactive" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resumesid, appellation, username, birthday, politicaloutlook, companyname, job, 
    createuserid, cratetime, updateuserid, updatetime, isactive
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from family
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from family
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.recruit.web.pojo.Family">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into family (resumesid, appellation, username, 
      birthday, politicaloutlook, companyname, 
      job, createuserid, cratetime, 
      updateuserid, updatetime, isactive
      )
    values (#{resumesid,jdbcType=INTEGER}, #{appellation,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{politicaloutlook,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{createuserid,jdbcType=INTEGER}, #{cratetime,jdbcType=TIMESTAMP}, 
      #{updateuserid,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{isactive,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.recruit.web.pojo.Family">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into family
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resumesid != null">
        resumesid,
      </if>
      <if test="appellation != null">
        appellation,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="politicaloutlook != null">
        politicaloutlook,
      </if>
      <if test="companyname != null">
        companyname,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="createuserid != null">
        createuserid,
      </if>
      <if test="cratetime != null">
        cratetime,
      </if>
      <if test="updateuserid != null">
        updateuserid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resumesid != null">
        #{resumesid,jdbcType=INTEGER},
      </if>
      <if test="appellation != null">
        #{appellation,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="politicaloutlook != null">
        #{politicaloutlook,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="cratetime != null">
        #{cratetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        #{updateuserid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruit.web.pojo.Family">
    update family
    <set>
      <if test="resumesid != null">
        resumesid = #{resumesid,jdbcType=INTEGER},
      </if>
      <if test="appellation != null">
        appellation = #{appellation,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="politicaloutlook != null">
        politicaloutlook = #{politicaloutlook,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null">
        createuserid = #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="cratetime != null">
        cratetime = #{cratetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        updateuserid = #{updateuserid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruit.web.pojo.Family">
    update family
    set resumesid = #{resumesid,jdbcType=INTEGER},
      appellation = #{appellation,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      politicaloutlook = #{politicaloutlook,jdbcType=VARCHAR},
      companyname = #{companyname,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      createuserid = #{createuserid,jdbcType=INTEGER},
      cratetime = #{cratetime,jdbcType=TIMESTAMP},
      updateuserid = #{updateuserid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      isactive = #{isactive,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>