<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.web.mapper.recruit.NewsMapper">
  <resultMap id="BaseResultMap" type="com.recruit.web.pojo.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="contents" jdbcType="VARCHAR" property="contents" />
    <result column="showcount" jdbcType="INTEGER" property="showcount" />
    <result column="isactive" jdbcType="BIT" property="isactive" />
    <result column="isfirst" jdbcType="CHAR" property="isfirst" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, author, createtime, contents, showcount, isactive, isfirst
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.recruit.web.pojo.News">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into news (title, author, createtime, 
      contents, showcount, isactive, 
      isfirst)
    values (#{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{contents,jdbcType=VARCHAR}, #{showcount,jdbcType=INTEGER}, #{isactive,jdbcType=BIT}, 
      #{isfirst,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.recruit.web.pojo.News">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="contents != null">
        contents,
      </if>
      <if test="showcount != null">
        showcount,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="isfirst != null">
        isfirst,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="contents != null">
        #{contents,jdbcType=VARCHAR},
      </if>
      <if test="showcount != null">
        #{showcount,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=BIT},
      </if>
      <if test="isfirst != null">
        #{isfirst,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruit.web.pojo.News">
    update news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="contents != null">
        contents = #{contents,jdbcType=VARCHAR},
      </if>
      <if test="showcount != null">
        showcount = #{showcount,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=BIT},
      </if>
      <if test="isfirst != null">
        isfirst = #{isfirst,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruit.web.pojo.News">
    update news
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      contents = #{contents,jdbcType=VARCHAR},
      showcount = #{showcount,jdbcType=INTEGER},
      isactive = #{isactive,jdbcType=BIT},
      isfirst = #{isfirst,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectNews" resultMap="BaseResultMap" resultType="Map">
    select * from news where isactive=1 limit 5
  </select>
</mapper>