<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.web.mapper.recruit.MenuMapper">
  <resultMap id="BaseResultMap" type="com.recruit.web.pojo.Menu">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
    <result column="isshow" jdbcType="BIT" property="isshow" />
    <result column="isactive" jdbcType="BIT" property="isactive" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="isdisplay" jdbcType="BIT" property="isdisplay" />
    <result column="iconurl" jdbcType="VARCHAR" property="iconurl" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, name, url, orders, isshow, isactive, pid, isdisplay, iconurl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.recruit.web.pojo.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu (name, url, orders, 
      isshow, isactive, pid, isdisplay, 
      iconurl)
    values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{orders,jdbcType=INTEGER}, 
      #{isshow,jdbcType=BIT}, #{isactive,jdbcType=BIT}, #{pid,jdbcType=INTEGER}, #{isdisplay,jdbcType=BIT}, 
      #{iconurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.recruit.web.pojo.Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="orders != null">
        orders,
      </if>
      <if test="isshow != null">
        isshow,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="isdisplay != null">
        isdisplay,
      </if>
      <if test="iconurl != null">
        iconurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="isshow != null">
        #{isshow,jdbcType=BIT},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=BIT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="isdisplay != null">
        #{isdisplay,jdbcType=BIT},
      </if>
      <if test="iconurl != null">
        #{iconurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.recruit.web.pojo.Menu">
    update menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="isshow != null">
        isshow = #{isshow,jdbcType=BIT},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=BIT},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="isdisplay != null">
        isdisplay = #{isdisplay,jdbcType=BIT},
      </if>
      <if test="iconurl != null">
        iconurl = #{iconurl,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.recruit.web.pojo.Menu">
    update menu
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=INTEGER},
      isshow = #{isshow,jdbcType=BIT},
      isactive = #{isactive,jdbcType=BIT},
      pid = #{pid,jdbcType=INTEGER},
      isdisplay = #{isdisplay,jdbcType=BIT},
      iconurl = #{iconurl,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getMenus" resultMap="BaseResultMap" resultType="Map">
    select
    <include refid="Base_Column_List" />
    from menu
    where isactive=1 and isdisplay=TRUE
  </select>
</mapper>
